.item {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;
    width: 70px;
    padding: 20px;
}
.label {
    font-weight: 600;
}
.percentage {
    font-style: italic;
    font-size: 22px;
}
